//MIXIN
@mixin navLinks {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 1.2rem;
    letter-spacing: 1.73px;
    font-weight: 300;
}
@mixin flex($direction, $gap) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
    gap: $gap;
}
@mixin button($fontColor, $bgColor) {
    color: $fontColor;
    background-color: $bgColor;
    padding: 1em;
    box-shadow: 0 10px 20px -19px black;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: .88rem;
}
@mixin primaryBtnHover {
    background-color: transparent;
    color: $primaryBtnColor;
}
//VARIABLE
$primaryBtnColor: #5267DF;
$secondaryBtnColor: #FA5959;
$headerColor: #242A45;
$paragraphColor: #252b4680;