@import 'mixins&variables';

@media (min-width: 1440px){
    *{
        text-align: left;
    }
    .container{
        padding: 0 10em;
    }
    img{
        width: initial;
    }




    header{
        height: 20vh;
        .container{
            .dropdown{
                opacity: 1;
                position: initial;
                height: initial;
                width: initial;
                background-color: transparent;
                .container{
                    flex-direction: row;
                    padding: 0%;
                    a{
                        font-size: .8rem;
                        color: $headerColor;
                        pointer-events: initial;
                        font-weight: 400;
                        padding: 0;
                        &:nth-child(0n + 4) {
                            margin-top: 0;
                            background-color: $secondaryBtnColor;
                            border-color: transparent;
                            color: white;
                            font-weight: 500;
                            padding: .8em 2em;
                            &:hover{
                                color: $secondaryBtnColor;
                                border-color: $secondaryBtnColor;
                                background-color: transparent;
                            }
                        }
                        &:hover{
                            color: $secondaryBtnColor;
                        }
                    }
                    a + a{
                        margin-left: 3em;
                    }
                    .socials{
                        display: none;
                    }
                }
            }
            #toggle{
                display: none;
            }
        }
    }


    .hero{
        .container{
            display: flex;
            flex-direction: row-reverse;
            .shape{
                width: 34vw;
                top: 7em;
                height: 24vw;
            }
            img{
                position: relative;
                left: 3em;
                height: 32vw;
                width: 45vw;
            }
            .hero-text{
                .btns{
                    justify-content: initial;
                    gap: 1em;
                    button{
                        &:first-child{
                            &:hover{
                                background-color: transparent;
                                color: $primaryBtnColor;
                            }
                        }
                        &:last-child{
                            &:hover{
                                background-color: transparent;
                                border-color: #242A45;
                            }
                        }
                    }
                }
            }
        }
    }


    .features{
        .shape{
            width: 34vw;
            height: 24vw;
            top: 21em;
        }
        .container{
            h2, p{
                text-align: center;
            }
            p{
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        #slides{
            #slides-btns{
                flex-direction: row;
                justify-content: center;
                gap: 4em;
                border-bottom: 1px solid hsla(231, 58%, 55%, 0.50);
                margin: 0 auto;
                width: fit-content;
                button{
                    color: hsla(229, 31%, 21%, .75);
                    font-size: 1.05rem;
                    &:hover{
                        color: $secondaryBtnColor;
                    }
                    &:first-child{
                        border-top: none;
                        border-bottom: none;
                    }
                }
                button + button{
                    border: none;
                }
            }
            #slides-content{
                display: flex;
                #slide-text{
                    margin-left: 9em;
                    h2, p{
                        text-align: left;
                    }
                    p{
                        margin-left: 0;
                        margin-right: 0;
                        width: initial;
                    }
                }
                #slide-img{
                    img{
                        height: auto;
                        width: 37vw;
                    }
                }
            }
        }
    }


    .extension{
        .container{
            h2, p{
                text-align: center;
            }
            p{
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
            .browsers{
                @include flex( row, 2em);
                .card{
                    @include flex(column, 0);
                    height: 371px;
                    button{
                        &:hover{
                            @include primaryBtnHover;
                        }
                    }
                    &:nth-child(2){
                        position: relative;
                        top: 2em;
                    }
                    &:last-child{
                        position: relative;
                        top: 4em;
                        .opera-div{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
                .card + .card{
                    margin: 0;
                }
            }
        }
    }


    .faq{
        .container{
            width: 60%;
            margin: 0 auto;
            text-align: center;
            h2, p{
                text-align: center;
            }
            .arrowActive{
                stroke: $secondaryBtnColor;
            }
            .accordion{
                button{
                    &:hover{
                        color: $secondaryBtnColor;
                    }
                }
            }
        }
    }


    .news-letter{
        form{
            padding-bottom: 5em;
            .container{
                @include flex(column, 0);
                label{
                    h2{
                        margin-top: 1.5em;
                        text-align: center;
                    }
                }
                .email-submit{
                    @include flex(row, 1em);
                    width: 100%;
                    .submit{
                        width: 126px;
                        margin: 0;
                        cursor: pointer;
                        &:hover{
                            background-color: white;
                            color: $secondaryBtnColor;
                        }
                    }
                    #email{
                        width: 300px;
                    }
                }
            }
        }
    }


    footer{
        .container{
            flex-direction: row;
            img{
                margin: 0;
                margin-right: 4em;
            }
            a{
                font-size: .8rem;
                &:hover{
                    color: $secondaryBtnColor;
                }
            }
            a + a{
                margin-left: 3em;
            }
            .socials{
                margin: 0;
                margin-left: auto;
                a{
                    margin: 0;
                    svg{
                        &:hover{
                            path{
                                fill: $secondaryBtnColor;
                            }
                        }
                    }
                }
            }
        }
    }


}

@media (max-width: 349px) {
    p{
        font-size: .8rem;
    }
    h2{
        font-size: 1.2rem;
    }
    h3{
        font-size: 1rem;
    }

    header{
        .container{
            nav{
                .dropdown{
                    .container{
                        a{
                            font-size: .9rem;
                        }
                    }
                }
            }
        }
    }

    .hero{
        .container{
            .shape{
                width: 77vw;
                height: 61vw;
            }
            img{
                transform: scale(1.2);
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -ms-transform: scale(1.2);
                -o-transform: scale(1.2);
                margin-top: 1em;
            }
            .hero-text{
                h1{
                    font-size: 1.4rem;
                }
                .btns{
                    button{
                        &:first-child, 
                        &:last-child{
                            font-size: 3.5vw;
                        }
                    }
                }
            }
        }
    }

    .features{
        .shape{
            width: 77vw;
            height: 61vw;
        }
        .container{
            #slides{
                #slides-content{
                    #slide-img{
                        img{
                            transform: scale(1.07);
                            -webkit-transform: scale(1.07);
                            -moz-transform: scale(1.07);
                            -ms-transform: scale(1.07);
                            -o-transform: scale(1.07);
                            margin-top: 3em;
                        }
                    }
                }
            }
        }
    }

    .extension{
        .container{
            .browsers{
            .card{
                button{
                    font-size: 3.5vw;
                }
            }
        }
        }
    }

    .faq{
        .container{
            .accordion{
                button{
                    font-size: 3.5vw;
                    img{
                        width: 4.5%;
                    }
                }
            }
        }
    }

    .news-letter{
        form{
            .container{
                span{
                    font-size: .7rem;
                }
                label{
                    h2{
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    footer{
        .container{
            a{
                font-size: .9rem;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1439px){
    *{
        text-align: left;
    }
    img{
        width: initial;
    }

    header{
        height: 10vh;
        .container{
            .dropdown{
                opacity: 1;
                position: initial;
                height: initial;
                width: initial;
                background-color: transparent;
                .container{
                    flex-direction: row;
                    padding: 0%;
                    a{
                        font-size: .8rem;
                        color: $headerColor;
                        pointer-events: initial;
                        font-weight: 400;
                        padding: 0;
                        &:nth-child(0n + 4) {
                            margin-top: 0;
                            background-color: $secondaryBtnColor;
                            border-color: transparent;
                            color: white;
                            font-weight: 500;
                            padding: .8em 2em;
                        }
                    }
                    a + a{
                        margin-left: 3em;
                    }
                    .socials{
                        display: none;
                    }
                }
            }
            #toggle{
                display: none;
            }
        }
    }


    .hero{
        margin-top: 0;
        .container{
            display: flex;
            flex-direction: row-reverse;
            .shape{
                width: 38vw;
                top: 7em;
                height: 27vw;
            }
            img{
                position: relative;
                left: 2em;
                height: 32vw;
                width: 45vw;
                margin-top: 4em;
            }
            .hero-text{
                .btns{
                    justify-content: initial;
                    gap: 1em;
                    button{
                        &:first-child{
                            &:hover{
                                background-color: transparent;
                                color: $primaryBtnColor;
                            }
                        }
                        &:last-child{
                            &:hover{
                                background-color: transparent;
                                border-color: #242A45;
                            }
                        }
                    }
                }
            }
        }
    }


    .features{
        .shape{
            width: 34vw;
            height: 27vw;
            top: 19.5em;
        }
        .container{
            h2, p{
                text-align: center;
            }
            p{
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
        }
        #slides{
            #slides-btns{
                flex-direction: row;
                justify-content: center;
                gap: 4em;
                border-bottom: 1px solid hsla(231, 58%, 55%, 0.50);
                margin: 0 auto;
                width: fit-content;
                button{
                    color: hsla(229, 31%, 21%, .75);
                    font-size: 1.05rem;
                    &:first-child{
                        border-top: none;
                    }
                    &:last-child{
                        border-bottom: none;
                    }
                }
                button + button{
                    border: none;
                }
            }
            #slides-content{
                display: flex;
                #slide-text{
                    margin-left: 6em;
                    margin-top: 0;
                    h2, p{
                        text-align: left;
                    }
                    p{
                        margin-left: 0;
                        margin-right: 0;
                        width: initial;
                    }
                }
                #slide-img{
                    img{
                        height: auto;
                        width: 37vw;
                    }
                }
            }
        }
    }


    .extension{
        .container{
            h2, p{
                text-align: center;
            }
            p{
                width: 70%;
                margin-left: auto;
                margin-right: auto;
            }
            .browsers{
                @include flex( row, 2em);
                display: grid;
                grid-template-columns: 1fr 1fr;
                .card{
                    @include flex(column, 0);
                    height: 371px;
                    &:last-child{
                        grid-column: 1 / 3;
                        height: initial;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-around;
                        align-items: center;
                        .browser{
                            width: 15%;
                        }
                        .opera-div{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                        }
                    }
                }
                .card + .card{
                    margin: 0;
                }
            }
        }
    }


    .faq{
        .container{
            width: 60%;
            margin: 0 auto;
            text-align: center;
            h2, p{
                text-align: center;
            }
            .accordion{
                button{
                    img{
                        width: 3.5%;
                    }
                }
            }
            a{
                cursor: pointer;
            }
        }
    }


    .news-letter{
        form{
            padding-bottom: 5em;
            .container{
                @include flex(column, 0);
                label{
                    h2{
                        margin-top: 1.5em;
                        text-align: center;
                    }
                }
                .email-submit{
                    @include flex(row, 1em);
                    width: 100%;
                    .submit{
                        width: 126px;
                        margin: 0;
                        cursor: pointer;
                    }
                    #email{
                        width: 300px;
                    }
                }
            }
        }
    }


    footer{
        .container{
            flex-direction: row;
            img{
                margin: 0;
                margin-right: 4em;
            }
            a{
                font-size: .8rem;
            }
            a + a{
                margin-left: 3em;
            }
            .socials{
                margin: 0;
                margin-left: auto;
                a{
                    margin: 0;
                }
                img{
                    margin: 0;
                }
            }
        }
    }


}