@import 'mixins&variables';
//Mobile style sheet


//DEAFULTS
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    transition: all .3s ease-in-out;
    text-align: center;
}
.container{
    padding: 0 2em;
}
h1,h2,h3,h4,button{
    font-weight: 500;
    color: $headerColor;
}
p{
    font-weight: 400;
    opacity: 50%;
    line-height: 1.5rem;
    margin: 1.5em 0 2em;
}
img{
    width: 100%;
}
button{
    cursor: pointer;
}




header{
    height: 10vh;

    .container{
        @include flex(row, 0);
        justify-content: space-between;
        height: 100%;
    }
    .logo{
        position: relative;
        .logo-white{
            display: none;
        }
        .logoLight{
            display: block;
        }
    }
    //TOGGLE
    .logoContainerToggle{
        z-index: 2;
    }
    .logoDark{
        display: none;
    }

    #toggle{
        position: relative;

        .toggle-lines{
            width: 18px;
            height: 3px;
            background-color: #242A45;
        }
        .toggle-lines + .toggle-lines{
            margin-top: 5px;
        }
        //TOGGLE
        .firstMenuLineToggle{
            transform: translate(0, 8px) rotate(45deg);
            background-color: white;
        }
        .secondMenuLineToggle{
            transform: rotate(-45deg);
            background-color: white;
       }
    }
    .menuToggle{
        z-index: 2;
    }

   

    .dropdown{
        background-color: #242A45;
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        opacity: 0;
        

        .container{
            @include flex(column, 0);
            justify-content: initial;
            height: 100%;
            padding-top: 6em;

            a{
                @include navLinks();
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1em 0;
                border-top: 1px solid #ffffff30;
                border-bottom: 1px solid #ffffff30;
                pointer-events: none;
                

                &:nth-child(0n + 4){
                margin-top: 2em;
                border: solid 2px white;
                padding: .5em;
                border-radius: 5px;
                }
            }
            //TOGGLE
            .navLinksToggle{
                pointer-events: initial;
            }

            .socials{
                display: flex;
                margin-top: auto;
                margin-bottom: 3em;
                a + a{
                    margin-left: 2em;
                }
                a{
                    border: none;
                    padding: 0;
                }
            }
        }
    }
     //TOGGLE
     .dropdownToggle{
        opacity: 95%;
        z-index: 1;
    }
}

.hero{
    margin-top: 3em;
    .container{
        position: relative;
        .shape{
            height: 203px;
            width: 288.5px;
            position: absolute;
            border-radius: 50% 0 0 50%;
            background-color: #5267DF;
            z-index: -1;
            right: 0;
            top: 2em;
        }
        img{
            width: 100%;
        }
        .hero-text{
            margin-top: 4em;
            h1{
                font-size: 1.87rem;
            }
            .btns{
                display: flex;
                justify-content: space-between;
                button{
                    &:first-child{
                        @include button(white, #5267DF);
                        border: 2px solid $primaryBtnColor;
                    }
                    &:last-child{
                        @include button(#242A45, #F7F7F7);
                        border: 2px solid #f7f7f7;
                    }
                }
            }
        }
    }
}

.features{
    margin-top: 8em;
    position: relative;
    .shape{
        height: 203px;
        width: 288.5px;
        position: absolute;
        border-radius: 0 50% 50% 0;
        background-color: #5267DF;
        z-index: -1;
        left: 0;
        top: 26.5em;
    }
    #slides{
        #slides-btns{
            display: flex;
            flex-direction: column;
            .btn-container{
                &:first-child{
                    border-top: 1px solid hsla(231, 58%, 55%, 0.50);
                }
                &:last-child{
                    border-bottom: 1px solid hsla(231, 58%, 55%, 0.50);
                }
                button{
                    background-color: transparent;
                    outline: none;
                    border: none;
                    padding: 1em 0;
                    opacity: 90%;
                    font-weight: 400;
                    position: relative;
                    color: hsla(229, 31%, 21%, .75);
                }.active{
                    color: $headerColor;
                    border-bottom: 4px solid $secondaryBtnColor;
                    transition: none;
                    -webkit-transition: none;
                    -moz-transition: none;
                    -ms-transition: none;
                    -o-transition: none;
                }
            }
            .btn-container + .btn-container{
                border-top: 1px solid hsla(231, 58%, 55%, 0.50);
            }
        }
        #slides-content{
            margin-top: 4em;
            #slide-text{
                margin-top: 5em;
                p{
                    margin-bottom: 1em
                }
                button{
                    @include button(white, $primaryBtnColor);
                }
            }
        } 
    }
}

.extension{
    margin-top: 8em;
    .container{
        .browsers{
            padding: 0 1em;
            margin-top: 3em;
            .card{
                box-shadow: 0 8px 20px -15px black;
                border-radius: 10px;
                padding: 2em 0 1.5em;
                p{
                    margin-top: .5em;
                    margin-bottom: 1em;
                }
                .browser{
                    width: 30%;
                    margin-bottom: 1.5em
                }
                button{
                    @include button(white, $primaryBtnColor);
                    margin-top: 1.5em;
                    padding-left: 2em;
                    padding-right: 2em;
                    border: 2px solid $primaryBtnColor;
                }
                &:last-child{
                    .opera-div{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                    }
                }
            }
            .card + .card{
                margin-top: 3em;
            }
        }
    }
}

.faq{
    margin-top: 8em;
    .container{
        .info{
            @include button(white, $primaryBtnColor);
        }
        .accordion{
            button{
                @include flex(row, 0);
                 justify-content: space-between;
                 font-size: .9rem;
                 font-weight: 400;
                 width: 100%;
                 background: transparent;
                 outline: none;
                 border: none;
                 padding: 1.5em 0;
                img{
                    width: 6%;
                }
                //TOGGLE
                .arrowToggle{
                    transform: rotate(180deg);
                }
                .arrowActive{
                    stroke: $secondaryBtnColor;
                }
            }
            button + button{
                border-top: 1px solid #242A45, 100%;
            }
            .answer{
                pointer-events: none;
                height: 0;
                overflow: hidden;
                p{
                    text-align: left;
                    margin-top: 0;
                }
                &:last-child{
                    margin-bottom: 3em;
                }
            }
            //TOGGLE
            .answerToggle{
                pointer-events: initial;
                overflow: initial;
                height: initial;
            }
            .info{
                cursor: pointer;
            }
        }
    }
}

.news-letter{
    margin-top: 6em;
    form{
        padding: 5em 0 4em;
        background-color: $primaryBtnColor;
        .container{
            span{
                color: white;
                letter-spacing: 4.62px;
                font-size: .8rem;
            }
            label{
                color: white;
                margin: .5em 0 1em;
                line-height: 1.4em;
                font-size: 1.5rem;
                text-align: center;
                display: block;
            }
            input{
                width: 100%;
                text-align: left;
                padding: 1.3em;
                background-color: white;
                border-radius: 5px;
                border: none;
            }
            ::placeholder{
                color: #242A45, 25.01%;
                font-size: 14px;
                letter-spacing: .25px;
            }
            .email-container{
                padding: 2px;
                border-radius: 5px;
                transition: none;
            } .inputActive{
                background: $secondaryBtnColor;
            }
            .error{
                width: 100%;
                background-color: $secondaryBtnColor;
                font-size: .6rem;
                color: white;
                border-radius: 5px;
                transition: none;
                font-style: italic;
            } .errorToggle{
                padding: 7px;
            }
            .submit{
                background-color: $secondaryBtnColor;
                color: white;
                font-size: 14px;
                text-align: center;
                margin-top: 1em;
                border: 2px solid $secondaryBtnColor;
                font-weight: 500;
            }
        }
    }
}

footer{
    background-color: #242A45;
    .container{
        @include flex(column, 1em);
        padding-top: 3em;
        padding-bottom: 3em;
        img{
            width: initial;
            margin-bottom: 2em;
        }
        a{
            @include navLinks();
        }
        .socials{
            @include flex(row, 2em);
            margin-top: 4em;
        }
    }
}
