* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  text-align: center;
}

.container {
  padding: 0 2em;
}

h1, h2, h3, h4, button {
  font-weight: 500;
  color: #242A45;
}

p {
  font-weight: 400;
  opacity: 50%;
  line-height: 1.5rem;
  margin: 1.5em 0 2em;
}

img {
  width: 100%;
}

button {
  cursor: pointer;
}

header {
  height: 10vh;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

header .logo {
  position: relative;
}

header .logo .logo-white {
  display: none;
}

header .logo .logoLight {
  display: block;
}

header .logoContainerToggle {
  z-index: 2;
}

header .logoDark {
  display: none;
}

header #toggle {
  position: relative;
}

header #toggle .toggle-lines {
  width: 18px;
  height: 3px;
  background-color: #242A45;
}

header #toggle .toggle-lines + .toggle-lines {
  margin-top: 5px;
}

header #toggle .firstMenuLineToggle {
  -webkit-transform: translate(0, 8px) rotate(45deg);
          transform: translate(0, 8px) rotate(45deg);
  background-color: white;
}

header #toggle .secondMenuLineToggle {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: white;
}

header .menuToggle {
  z-index: 2;
}

header .dropdown {
  background-color: #242A45;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0;
}

header .dropdown .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  height: 100%;
  padding-top: 6em;
}

header .dropdown .container a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1.73px;
  font-weight: 300;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
  border-top: 1px solid #ffffff30;
  border-bottom: 1px solid #ffffff30;
  pointer-events: none;
}

header .dropdown .container a:nth-child(0n + 4) {
  margin-top: 2em;
  border: solid 2px white;
  padding: .5em;
  border-radius: 5px;
}

header .dropdown .container .navLinksToggle {
  pointer-events: initial;
}

header .dropdown .container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  margin-bottom: 3em;
}

header .dropdown .container .socials a + a {
  margin-left: 2em;
}

header .dropdown .container .socials a {
  border: none;
  padding: 0;
}

header .dropdownToggle {
  opacity: 95%;
  z-index: 1;
}

.hero {
  margin-top: 3em;
}

.hero .container {
  position: relative;
}

.hero .container .shape {
  height: 203px;
  width: 288.5px;
  position: absolute;
  border-radius: 50% 0 0 50%;
  background-color: #5267DF;
  z-index: -1;
  right: 0;
  top: 2em;
}

.hero .container img {
  width: 100%;
}

.hero .container .hero-text {
  margin-top: 4em;
}

.hero .container .hero-text h1 {
  font-size: 1.87rem;
}

.hero .container .hero-text .btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero .container .hero-text .btns button:first-child {
  color: white;
  background-color: #5267DF;
  padding: 1em;
  -webkit-box-shadow: 0 10px 20px -19px black;
          box-shadow: 0 10px 20px -19px black;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: .88rem;
  border: 2px solid #5267DF;
}

.hero .container .hero-text .btns button:last-child {
  color: #242A45;
  background-color: #F7F7F7;
  padding: 1em;
  -webkit-box-shadow: 0 10px 20px -19px black;
          box-shadow: 0 10px 20px -19px black;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: .88rem;
  border: 2px solid #f7f7f7;
}

.features {
  margin-top: 8em;
  position: relative;
}

.features .shape {
  height: 203px;
  width: 288.5px;
  position: absolute;
  border-radius: 0 50% 50% 0;
  background-color: #5267DF;
  z-index: -1;
  left: 0;
  top: 26.5em;
}

.features #slides #slides-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.features #slides #slides-btns .btn-container:first-child {
  border-top: 1px solid rgba(74, 94, 207, 0.5);
}

.features #slides #slides-btns .btn-container:last-child {
  border-bottom: 1px solid rgba(74, 94, 207, 0.5);
}

.features #slides #slides-btns .btn-container button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 1em 0;
  opacity: 90%;
  font-weight: 400;
  position: relative;
  color: rgba(37, 43, 70, 0.75);
}

.features #slides #slides-btns .btn-container .active {
  color: #242A45;
  border-bottom: 4px solid #FA5959;
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
}

.features #slides #slides-btns .btn-container + .btn-container {
  border-top: 1px solid rgba(74, 94, 207, 0.5);
}

.features #slides #slides-content {
  margin-top: 4em;
}

.features #slides #slides-content #slide-text {
  margin-top: 5em;
}

.features #slides #slides-content #slide-text p {
  margin-bottom: 1em;
}

.features #slides #slides-content #slide-text button {
  color: white;
  background-color: #5267DF;
  padding: 1em;
  -webkit-box-shadow: 0 10px 20px -19px black;
          box-shadow: 0 10px 20px -19px black;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: .88rem;
}

.extension {
  margin-top: 8em;
}

.extension .container .browsers {
  padding: 0 1em;
  margin-top: 3em;
}

.extension .container .browsers .card {
  -webkit-box-shadow: 0 8px 20px -15px black;
          box-shadow: 0 8px 20px -15px black;
  border-radius: 10px;
  padding: 2em 0 1.5em;
}

.extension .container .browsers .card p {
  margin-top: .5em;
  margin-bottom: 1em;
}

.extension .container .browsers .card .browser {
  width: 30%;
  margin-bottom: 1.5em;
}

.extension .container .browsers .card button {
  color: white;
  background-color: #5267DF;
  padding: 1em;
  -webkit-box-shadow: 0 10px 20px -19px black;
          box-shadow: 0 10px 20px -19px black;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: .88rem;
  margin-top: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
  border: 2px solid #5267DF;
}

.extension .container .browsers .card:last-child .opera-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.extension .container .browsers .card + .card {
  margin-top: 3em;
}

.faq {
  margin-top: 8em;
}

.faq .container .info {
  color: white;
  background-color: #5267DF;
  padding: 1em;
  -webkit-box-shadow: 0 10px 20px -19px black;
          box-shadow: 0 10px 20px -19px black;
  border-radius: 5px;
  border: none;
  outline: none;
  font-size: .88rem;
}

.faq .container .accordion button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .9rem;
  font-weight: 400;
  width: 100%;
  background: transparent;
  outline: none;
  border: none;
  padding: 1.5em 0;
}

.faq .container .accordion button img {
  width: 6%;
}

.faq .container .accordion button .arrowToggle {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq .container .accordion button .arrowActive {
  stroke: #FA5959;
}

.faq .container .accordion button + button {
  border-top: 1px solid #242A45, 100%;
}

.faq .container .accordion .answer {
  pointer-events: none;
  height: 0;
  overflow: hidden;
}

.faq .container .accordion .answer p {
  text-align: left;
  margin-top: 0;
}

.faq .container .accordion .answer:last-child {
  margin-bottom: 3em;
}

.faq .container .accordion .answerToggle {
  pointer-events: initial;
  overflow: initial;
  height: initial;
}

.news-letter {
  margin-top: 6em;
}

.news-letter form {
  padding: 5em 0 4em;
  background-color: #5267DF;
}

.news-letter form .container span {
  color: white;
  letter-spacing: 4.62px;
  font-size: .8rem;
}

.news-letter form .container label {
  color: white;
  margin: .5em 0 1em;
  line-height: 1.4em;
  font-size: 1.5rem;
  text-align: center;
  display: block;
}

.news-letter form .container input {
  width: 100%;
  text-align: left;
  padding: 1.3em;
  background-color: white;
  border-radius: 5px;
  border: none;
}

.news-letter form .container ::-webkit-input-placeholder {
  color: #242A45, 25.01%;
  font-size: 14px;
  letter-spacing: .25px;
}

.news-letter form .container :-ms-input-placeholder {
  color: #242A45, 25.01%;
  font-size: 14px;
  letter-spacing: .25px;
}

.news-letter form .container ::-ms-input-placeholder {
  color: #242A45, 25.01%;
  font-size: 14px;
  letter-spacing: .25px;
}

.news-letter form .container ::placeholder {
  color: #242A45, 25.01%;
  font-size: 14px;
  letter-spacing: .25px;
}

.news-letter form .container .email-container {
  padding: 2px;
  border-radius: 5px;
  -webkit-transition: none;
  transition: none;
}

.news-letter form .container .inputActive {
  background: #FA5959;
}

.news-letter form .container .error {
  width: 100%;
  background-color: #FA5959;
  font-size: .6rem;
  color: white;
  border-radius: 5px;
  -webkit-transition: none;
  transition: none;
  font-style: italic;
}

.news-letter form .container .errorToggle {
  padding: 7px;
}

.news-letter form .container .submit {
  background-color: #FA5959;
  color: white;
  font-size: 14px;
  text-align: center;
  margin-top: 1em;
  border: 2px solid #FA5959;
  font-weight: 500;
}

footer {
  background-color: #242A45;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  padding-top: 3em;
  padding-bottom: 3em;
}

footer .container img {
  width: initial;
  margin-bottom: 2em;
}

footer .container a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  letter-spacing: 1.73px;
  font-weight: 300;
}

footer .container .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
  margin-top: 4em;
}
/*# sourceMappingURL=styles.css.map */